<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/fragment :: title" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<h3>Tambah Dokter</h3>

<form th:action="@{/dokter/tambah}" th:object="${dokter}" method="POST">
    <table>
        <thead>
        <tr>
            <th>Nama</th>
            <th>NIK</th>
            <th>Tanggal Lahir</th>
            <th>Tempat Lahir</th>
            <th>Jenis Kelamin</th>
            <th>Spesialisasi</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input th:type="text" th:name="nama"/></td>
            <td><input th:type="text" th:name="nik"/></td>
            <td><input th:type="date" th:name="tanggal_lahir"/></td>
            <td><input th:type="text" th:name="tempat_lahir"/></td>
            <td>
                <select th:field="*{jenis_kelamin}">
                    <option th:value="1" th:text="Laki-laki"></option>
                    <option th:value="2" th:text="Perempuan"></option>
                </select>
            </td>
            <td>
                <select th:field="*{listSpesialisasiDokter}">
                    <option th:each="spesialisasi : ${listSpesialisasi}" th:value="${spesialisasi.id}" th:text="${spesialisasi.nama}">
                    </option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-sm btn-primary" type="submit">Submit</button>
</form>
</body>
</html>