<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <object th:include="fragments/fragment :: title" th:remove="tag"></object>-->
<!--    <object th:include="fragments/fragment :: css" th:remove="tag"></object>-->
<!--    <object th:include="fragments/fragment :: js" th:remove="tag"></object>-->
<!--</head>-->
<!--<body>-->
<!--<nav th:replace="fragments/fragment :: navbar"></nav>-->
<!--<div class="container-fluid">-->
<!--    <h3 style="text-align: center;">Tambah Jadwal Jaga Seorang Poli Dokter</h3>-->

<!--    <form th:action="@{/jadwal/tambah/{nip}(nip=${dokter.nip})}" th:object="${jadwalJaga}" method="POST">-->
<!--        <div class="form-group row">-->
<!--            <label for="namaDokter" class="col-sm-2 col-form-label">Dokter</label>-->
<!--            <div class="col-sm-2">-->
<!--                <input th:type="text" class="form-control" id="namaDokter" th:value="${dokter.nama}" name="nama" disabled>-->
<!--            </div>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="form-group row">&ndash;&gt;-->
<!--&lt;!&ndash;            <label for="namaPoli" class="col-sm-2 col-form-label">Poli</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-sm-2">&ndash;&gt;-->
<!--&lt;!&ndash;                <select class="form-control" th:field="*{jadwalJaga}" id="namaPoli">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <option disabled selected value> &#45;&#45; Pilih Poli &#45;&#45; </option>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:each="poli : ${listPoli}" th:value="${poli.id}" th:text="${poli.nama}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                </select>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="form-group row">&ndash;&gt;-->
<!--&lt;!&ndash;            <label for="hari" class="col-sm-2 col-form-label">Hari</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-sm-2">&ndash;&gt;-->
<!--&lt;!&ndash;                <select class="form-control" id="hari" th:field="*{jadwalJaga}">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <option disabled selected value> &#45;&#45; Pilih Hari &#45;&#45; </option>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:value="Senin" th:text="Senin"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:value="Selasa" th:text="Selasa"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:value="Rabu" th:text="Rabu"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:value="Kamis" th:text="Kamis"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:value="Jumat" th:text="Jumat"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:value="Sabtu" th:text="Sabtu"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option th:value="Minggu" th:text="Minggu"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                </select>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <button class="btn btn-sm btn-primary" type="submit">Submit</button>-->
<!--    </form>-->
<!--    <div class="row" style="margin-top: 20px;">-->
<!--        <div class="container">-->
<!--            <div class="card">-->
<!--                <div class="card-header bg-dark text-white">Daftar Poli</div>-->
<!--                <div class="card-body"></div>-->
<!--                <table class="table">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th scope="col">No</th>-->
<!--                        <th scope="col">Nama</th>-->
<!--                        <th scope="col">Hari</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="poli, iterationStatus : *{listPoli}">-->
<!--                        <th th:text="${iterationStatus.count}"></th>-->
<!--                        <td th:text="${poli.nama}"></td>-->
<!--&lt;!&ndash;                        <td th:text="${poli.lokasi}"></td>&ndash;&gt;-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->