<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/fragment :: title" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <h2 style="text-align: center;">Sistem Informasi Dokter</h2>
        <div class="row">
            <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-white">Daftar Dokter</div>
                <div class="card-body"></div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">NIP</th>
                        <th scope="col">NIK</th>
                        <th scope="col">Jenis Kelamin</th>
                        <th scope="col">Spesialisasi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>aaaa</td>
                        <td>bbbb</td>
                        <td>
                            <button class="btn btn-primary">tambah jadwal</button>
                            <button class="btn btn-dark">ubah</button>
                            <button class="btn btn-danger">hapus</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <form th:action="@{/dokter/tambah}" method="GET">
                    <button class="btn btn-dark" type="submit">Tambah Dokter</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</body>
</html>