<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/fragment :: title" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid" style="float: none; margin-top: 20px; margin-bottom: 20px;">
    <h2 style="text-align: center; margin-bottom: 20px;">Sistem Informasi Dokter</h2>
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-white" th:text="'Daftar Jumlah Dokter di Setiap Spesialisasi'"></div>
                <div class="card-body"></div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Spesialisasi</th>
                        <th scope="col">Jumlah Dokter</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="spesialisasi, iterationStatus : ${listSpesialisasi}">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${spesialisasi.nama}"></td>
                        <td th:text="${spesialisasi.listSpesialisasiDokter.size()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>