<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/fragment :: title" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid" style="float: none; margin-top: 20px; margin-bottom: 20px;">
    <h2 style="text-align: center; margin-bottom: 20px;">Sistem Informasi Dokter</h2>
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-white">Daftar Poli</div>
                <div class="card-body"></div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Lokasi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="poli, iterationStatus : *{listPoli}">
                        <th th:text="${iterationStatus.count}"></th>
                        <td><a th:href="@{/poli/view/{id}(id=${poli.id})}" th:text="${poli.nama}"></a></td>
<!--                        <td th:text="${poli.nama}"></td>-->
                        <td th:text="${poli.lokasi}"></td>
                        <td>
                            <form th:action="@{/poli/update/{id}(id=${poli.id})}">
                                <button class="btn btn-dark" type="submit">ubah</button>
                            </form>
                            <form th:action="@{/poli/delete/{id}(id=${poli.id})}" th:object="${poli}" method="POST">
                                <button class="btn btn-danger" type="submit">hapus</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <form th:action="@{/poli/tambah}" method="GET">
                    <button class="btn btn-dark" type="submit" style="float: right; margin-bottom: 10px; margin-right: 20px;">Tambah Poli</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>